<div class="note-list" cdkDropList [cdkDropListData]="noteGroup!.notes" (cdkDropListDropped)="drop($event)">
    @for (note of noteGroup.notes; track $index) {
        <div class="note" cdkDrag>
            <div class="drag-handle" cdkDragHandle title="Drag to move and reorder notes">
                <i class="material-icons">drag_indicator</i>
            </div>
            <div class="note-placeholder" *cdkDragPlaceholder></div>
            <mat-form-field class="note-input">
                <input matInput [(ngModel)]="note.content" (change)="updateNoteGroup()">
            </mat-form-field>
            <button class="delete-button" mat-mini-fab (click)="deleteNote($index)" title="Delete Note Group">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    }
</div>
<button class="new-note-button" mat-mini-fab (click)="createNewNote()" title="Create New Note">
    <mat-icon>add</mat-icon>
</button>