@if (loading) {
  <mat-spinner class="loading"></mat-spinner>
}
@else {
  <div #grid id="grid" cdkDropListGroup [ngStyle]="{ 'background-size': showGrid() ? backgroundSize : '', 'background-image': backgroundImage}">
    <div id="settings">
      <button mat-raised-button (click)="createCard()">New Card</button>
      <mat-slide-toggle [(ngModel)]="editing">Edit</mat-slide-toggle>
      <button mat-raised-button (click)="openSettingsDialog()">Settings</button>
      <i id="open-icon" class="material-icons">open_in_full</i>
    </div>
    <!--List of cards-->
    @for (card of cards; track card.type + card.id) {
      <app-card [card]="card" [settings]="settings" [gridElement]="grid" [editing]="editing" (cardDeleted)="deleteCard(card)" (cardUpdated)="updateCard(card)">
        <!--Card Header-->
        <ng-container header>
          @switch (card.type) {
            @case (cardType.emptyCard) {
              <h2 title="Choose a card type" [style.color]="settings.emptyCardTextColor">Choose a card type</h2>
            }
            @case (cardType.noteGroup) {
              @if (editing || settings.updateNoteGroupTitleInReadonly) {
                <mat-form-field class="note-group-title">
                  <mat-label>Title</mat-label>
                  <input matInput [(ngModel)]="castToNoteGroup(card).title" (change)="updateCard(card)" [ngStyle]="{'color': settings.noteGroupTextColor}">
                </mat-form-field>
              }
              @else {
                <h2 [title]="castToNoteGroup(card).title" [ngStyle]="{'color': settings.noteGroupTextColor}">{{castToNoteGroup(card).title}}</h2>
              }
            }
          }
        </ng-container>

        <!--Card Content-->
        <ng-container>
          @switch (card.type) {
            @case (cardType.emptyCard) {
              <div class="button-list">
                <button mat-raised-button (click)="createNoteGroup(card)" [ngStyle]="{ 'background-color': settings.noteGroupColor, 'border-color': settings.noteGroupTextColor, 'color': settings.noteGroupTextColor}">New Note Group</button>
              </div>
            }
            @case (cardType.noteGroup) {
              <app-note-group [noteGroup]="castToNoteGroup(card)" [settings]="settings" [editing]="editing" (noteGroupUpdated)="updateCard(getNoteCardById($event))"></app-note-group>
            }
          }
        </ng-container>
      </app-card>
    }
  </div>
}