@if (loading) {
  <mat-spinner class="loading"></mat-spinner>
}
@else {
  <div #grid id="grid" cdkDropListGroup [style.background-size]="backgroundSize">
    <button mat-raised-button (click)="createCard()">New Card</button>
    @for (card of cards; track card.id) {
      <app-card [card]="card" [gridSize]="gridSize" [gridElement]="grid" (cardDeleted)="deleteCard($event)" (noteGroupCreated)="createNoteGroup(card)"></app-card>
    }
    @for (noteGroup of noteGroups; track noteGroup.id) {
      <app-note-group [noteGroup]="noteGroup" [gridSize]="gridSize" [gridElement]="grid" (noteGroupUpdated)="updateNoteGroup($event)" (noteGroupDeleted)="deleteNoteGroup($event)"></app-note-group>
    }
  </div>
}