@use "@angular/material" as mat;

html,
body {
    height: 100%;
    overflow: hidden;
    @include mat.form-field-density(-2);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: lightgrey
}

h2 {
    margin: 0;
}

.drag-handle {
    cursor: move;
}

.ng-resizable-diagonal {
    border: none !important;
}
